printWidth: 80
tabWidth: 2
useTabs: false
parser: babylon
semi: true
bracketSpacing: true
trailingComma: all
singleQuote: true
arrowParens: avoid
requirePragma: false
insertPragma: false
proseWrap: preserve
